body{
    border: solid black 2px;
}

.container {
    border: 2px;
    padding: 10px;
}

.bookCard{
    border: solid black 2px;
    padding: 10px;
    margin: 10px;
}


.image{
    width:100px;
    height:auto;
}

h1{
   text-align: center;
   text-decoration: underline;
   text-size: 70px;
}

h2{
    text-decoration: underline;
}

a{
    color:black;
}