body{
    border: solid black 2px;
}

.container {
    border: 2px;
    padding: 10px;
    
}

.bookCard{
    border: solid black 2px;
    padding: 10px;
    margin: 8px;
    display:flex;
}

.bookCardLeft{
    justify-content: flex-start;
    flex: 1;
}

/* .bookCardRight{
    justify-content: flex-end;
    border-color: pink;
}  */

.image{
    width:140px;
    height:auto;
    padding-left: 4px;
}

h1{
   text-align: center;
   text-decoration: underline;
   font-size: 48px;
}

h2{
    text-decoration: underline;
}

a{
    color:black;
}